{% extends "base.html" %}
{% block title %} {{entry.title}} - {{blog.title}} {% endblock %}
{% block head_block %}
{% if entry %}
{%if entry.strtags%}<meta name="Keywords" content="{{entry.strtags}}">{%endif%}
{%if entry.excerpt%} <meta name="Description" content="{{entry.excerpt}}">{%endif%}
{% endif %}
{% endblock %}
{% block content%}
<div id="left-content-single">

{% if entry %}
<div id="post-home">

<div id="post-content">

{{ entry.content }}
</div>
	
</div>
{%endif%}
</div>
{% include "sidebar.html" %}
{% endblock %}