{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/themes/{{ blog.theme_name }}/style.css" type="text/css" />
<div id="container">
  <div class="in">
    <div class="inner solo">
      <div class="line-x"></div>
      <!--/.line-x-->
      <div id="main">
        <div class="main-in solo">
          <div id="content">


            <div class="story">
              <h2>对不起，您查看的内容不在这儿。</h2>
            </div>
			</div>
          <div id="sidebar">
			{% include "sidebar.html" %}
          </div>
          <!--/sidebar-->
        </div>
        <!--/.main-in-->
      </div>
      <!--/main-->


	  	  	  <div class="line-x line-footbar"></div>
<!--/.line-x-->
<div class="footbar-wrap">
<div id="footbar" class="solo">
<div id = "sidebar-2" class = "sidebar footbar">
<ul class="top-level">
	<li class ="pagenav widget">
		<h2>页面</h2>
        <li class="pagenav widget"><a href="/">首页</a></li>
        {{self.m_list_pages}}
		</ul>
	</li>
</div>
<div id = "sidebar-3" class = "sidebar footbar">
<ul class="top-level">
		<li id = "tag_cloud" class="widget widget_archive">
			<h2>存档</h2>
			<ul>
				{%for archive in archives%}
				<li><a href="/{{archive.year}}/{{archive.month}}">{{archive.year}}年{{archive.month}}月</a>({{archive.entrycount}})</li>
				{%endfor%}
			</ul>
		<li>
</ul>
</div>
<div id = "sidebar-4" class = "sidebar footbar">

		<ul class="top-level">
		<li id="linkcat-2" class="linkcat widget">
			<h2>友情连接</h2>
			<ul>
            {%for link in blogroll%}
            <li id = "tag_cloud" class="linkcat widget">
				<a href="{{link.href}}" target="_blank" title ="{{link.linkcomment}}">{{link.linktext}}</a>
			</li>
            {%endfor%}
			</ul>
			</li>
		</ul>
</div>
</div>
<!--/footbar-->
</div>


    </div>
    <!--/.inner-->
  </div>
  <!--/.in-->
</div>
<!--/container-->

{% endblock %}
