<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head profile="http://gmpg.org/xfn/11">
{%mf head%}
	<title>{% block title %} {{ blog.title|escape}}{% endblock %}</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link id="defaultcss" href="/themes/{{ blog.theme_name }}/layout1.css" rel="stylesheet" type="text/css" />

	<script language="JavaScript" type="text/javascript">
	<!--//
	var arrCSS=[
	["<img src='/themes/{{ blog.theme_name }}/images/layout1.png' width='10' height='10' class='themes' alt='layout1' />","/themes/{{ blog.theme_name }}/layout1.css"],
	["<img src='/themes/{{ blog.theme_name }}/images/layout2.png' width='10' height='10' class='themes' alt='layout2' />","/themes/{{ blog.theme_name }}/layout2.css"],
	["<img src='/themes/{{ blog.theme_name }}/images/layout3.png' width='10' height='10' class='themes' alt='layout3' />","/themes/{{ blog.theme_name }}/layout3.css"],
	["<img src='/themes/{{ blog.theme_name }}/images/layout4.png' width='10' height='10' class='themes' alt='layout4' />","/themes/{{ blog.theme_name }}/layout4.css"],
	["<img src='/themes/{{ blog.theme_name }}/images/layout5.png' width='10' height='10' class='themes' alt='layout5' />","/themes/{{ blog.theme_name }}/layout5.css"]

	];


	// *** function to replace href="#" ***
	function v(){
		return;
	}

	// *** Cookies ***
	function writeCookie(name, value) { 
		exp = new Date(); 
		exp.setTime(exp.getTime() + (86400 * 1000 * 30));
		document.cookie = name + "=" + escape(value) + "; expires=" + exp.toGMTString() + "; path=/"; 
		document.cookie.replace("stylesheet=css0","stylesheet="+value);
	} 
	function readCookie(name) { 
		var search; 
		search = name + "="; 
		offset = document.cookie.indexOf(search); 
		if (offset != -1) { 
			offset += search.length; 
			end = document.cookie.indexOf(";", offset); 
			if (end == -1){
				end = document.cookie.length;
			}
			return unescape(document.cookie.substring(offset, end)); 
		}else{
			return "";
		}
	}


	// StyleSheet

	function writeCSS(){
	  for(var i=0;i<arrCSS.length;i++){
		document.write('<link title="css'+i+'" href="'+arrCSS[i][1]+'" rel="stylesheet" disabled="true" type="text/css" />');
	  }
		setStyleSheet(readCookie("stylesheet"));
	}

	function writeCSSLinks(){
	  for(var i=0;i<arrCSS.length;i++){
		if(i>0) document.write('  ');
		document.write('<a href="javascript:v()" onclick="setStyleSheet(\'css'+i+'\')">'+arrCSS[i][0]+'</a>');
	  }
	}

	function setStyleSheet(strCSS){
	  var objs=document.getElementsByTagName("link");
	  var intFound=0;
	  for(var i=0;i<objs.length;i++){
		if(objs[i].type.indexOf("css")>-1&&objs[i].title){
		  objs[i].disabled = true;
		  if(objs[i].title==strCSS) intFound=i;
		}
	  }
	  objs[intFound].disabled = false;
	  writeCookie("stylesheet",objs[intFound].title);
	}

	writeCSS();
	setStyleSheet(readCookie("stylesheet"));

	//-->
	</script>
	
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="alternate" type="application/rss+xml" title="{{ blog.title|escape }} RSS Feed" href="{{ blog.feedurl }}" />
	<link rel="stylesheet" href="/themes/{{ blog.theme_name }}/style.css" type="text/css" media="screen, projection" id="cssfile" />
	<script type="text/javascript" src="/static/js/jquery-1.3.2.min.js"></script>

{% block head_block %}{% endblock %}
{%endmf%}
</head>

<body>

	<div id="wrap">
		<div id="header">
			<div id="header-left">
				<h1 id="title"><a href="/">{{ blog.title|escape}}</a></h1>
				<div class="description">{{ blog.subtitle|escape}}</div>
			</div>
			<div id="header-right">
				<div class="layout">
					<script type="text/javascript">writeCSSLinks();</script>
				</div>

				<div id="menu">
					<ul><li class="{%if ishome%}current_page_item{%else%}page_item{%endif%}"><a href="/" title="首页">首页</a></li>
					{{self.m_list_pages}}
					</ul>
				</div>
			</div>
		</div>

{% block content %}{% endblock %}


		<div id="footer">
			<div id="footer-wp"></div>
			<div id="footer-link">
				<p>Power by <a rel="nofollow" href="http://appengine.google.com/" target="_blank">Google App Engine,</a> <a rel="nofollow" href="http://xuming.net/" target="_blank">Micolog</a> </p>  
				<p>
					<a href="http://marslau.com/archives/454.html" title="WordPress主题5styles">5styles</a> 主题由 <a href="http://marslau.com" target="_blank" title="Mars Lau's blog">Mars Lau</a> 提供,
					由 <a href="http://vvonderblog.appspot.com" target="_blank" title="vvonder's blog">vvonder</a> 修改&amp;移植
				{%mf footer%}{%endmf%}
				</p>
			</div>
			<div id="footer-right"><a href="#header" id="to-top"></a></div>
		</div>
	</div>
</body>
</html>


