	<h3 id="comments" class="cat_heading" {% if not entry.comments.count%} style="display:none"{%endif%}>&#8220;{{entry.title}}&#8221;共有{{entry.comments.count}}条留言 </h3>

	<ol class="commentlist" id="commentlist" >
	{% for comment in comments %}

		<li class="{%cycle alt1,alt %}" id="comment-{{comment.key.id}}">
		<div class="gravatar"><img height="50" width="50" class="avatar avatar-50" src="{{comment.gravatar_url}}" alt=""/></div>
		<div class="comment-entry">
			<cite>{%if comment.weburl %}
			<a href="{{comment.weburl}}" target="_blank" rel="external nofollow" >{{comment.author}}</a>
			{% else %}{{comment.author}}{%endif%}
			</cite>
			<small>{{comment.date|datetz:"Y-m-d"}} at {{comment.date|datetz:"H:i"}}<a href="#commentarea" onclick="return backcomment('{{comment.author}}');">回复</a> </small>
			<p class="comment-content">{{comment.content}}</p>
			
		</div>
		<div style="clear:both"></div>
		</li>
{% endfor %}
<li id="commentAdd"></li>
	</ol>
<div id="commentsnavi">
{{comments_nav.nav}}
</div>
<h3 id="respond">发表评论</h3>
{% if entry.allow_comment %}
<form action="/" method="post" id="commentform" >
<div class="alignleft">
<p>
<small>姓名: </small>
<input type="text" name="author" id="author"  size="25" tabindex="1" />
</p>

<p>
<small>邮箱: </small>
<input type="text" name="email" id="email"  size="25" tabindex="2" />
</p>

<p>
<small>网址:</small>
<input type="text" name="url" id="url"  size="25" tabindex="3" />
</p>
<p id="checkarea">请输入计算结果：<span style="color:#D50000" id="disp_check">{{checknum1}}+{{checknum2}}</span>
<input type="hidden" name="checknum" id="checknum" value="{{checknum1}}+{{checknum2}}" />
<input type="text" name="checkret" id="checkret" value="" size="2" tabindex="4" />
</p>


<p><textarea name="comment" id="comment" tabindex="5"  ></textarea><input name="submit" type="button"  class="corner" id="submit" tabindex="6" value="提交评论" onclick="ajaxSub()" />
</p>

<p>
  
  <input type="hidden" name="key" id="key" value="{{entry.key}}" />
</p>
</div>
</form>

{% else %}
<p class="nocomments">评论已关闭</p>
{% endif %}