{% extends "base.html" %}
{% block head_block %}
<script> 
<!--
document.title='您查看的页面没有找到哦(404)~~~可能TaoGOGO把它改地址了~';
-->
</script> 
{% endblock %}
{% block content %}
<div id="bodyLeft">
<p align="center" style="height:25px; line-height:25px;"> <form method="get" action="http://www.google.cn/custom" target="google_window">
没有找到这个页面哦~~您可以到<a href="{{ blog.baseurl }}" >{{ blog.title}}</a>首页看看，也你可以试着搜索一下：
        <input type="text" name="q"  value="免费虚拟主机" id="sbi" onfocus="this.select();" />
        <input type="hidden" name="client" value="pub-4674501411156281" />
        <input type="hidden" name="forid" value="1" />
        <input type="submit" name="sa" class="gsc-search-button" id="sbb"  value="搜索"/>
        <input type="hidden" name="ie" value="utf-8" />
        <input type="hidden" name="oe" value="utf-8" />
        <input type="hidden" name="safe" value="active" />
        <input type="hidden" name="cof" value="GALT:#008000;GL:1;DIV:#99C9FF;VLC:663399;AH:center;BGC:FFFFFF;LBGC:FFFFFF;ALC:000000;LC:000000;T:000000;GFNT:0000FF;GIMP:0000FF;LH:50;LW:119;L:http://www.taogogo.info/themes/taogo/images/logo.gif;S:http://www.taogogo.info/;FORID:1"/>
        <input type="hidden" name="hl" value="zh-CN" />
    </form></p>
对了，这里有个<a href="http://www.taogogo.info/yuming" >免费域名申请教程</a>~
<p align="center" style="font-size:192px;" onmouseover="this.innerHTML='4☻4'" onmouseout="this.innerHTML='4☺4'">4☺4</p>
</div>
{% include "sidebar.html" %}
{% endblock %}