{% extends "base.html" %}
{% block title %} {{entry.title}} - {{blog.title}} {% endblock %}

{% block head_block %}
<link rel="canonical" href="http://www.taogogo.info/{{ entry.link }}" /> 
{% if entry %}
{%if entry.strtags%}<meta name="Keywords" content="{{entry.strtags}}" />{%endif%}
{%if entry.excerpt%} <meta name="Description" content="{{entry.excerpt}}" />{%endif%}
{% endif %}

{% endblock %}

{% block content %}

<div id="bodyLeft">
	{% if entry %}
	<div  id="post">
    <h2><a href="/{{ entry.link }}" rel="bookmark" title="Permanent Link to {{ entry.title }}">{{ entry.title }}</a></h2>
	<div id="postTime"></div>
    <div id="content">{{ entry.content }}</div>
    </div>
	{% include "comments.html" %}
    <div id="comment_area">
	</div>
	{% else %}
 <p>Sorry, no posts matched your criteria.</p>
{% endif %} 
</div>
{% include "sidebar.html" %}
{% endblock %}