<div id="bodyRight">
  <!-- notice  begin -->
  <h3 class="sitebarHead">公告</h3>
  <div class="separator"> {{blog.blognotice}}</div>
  <!-- notice  end -->
  <!-- searchform  begin -->
  <h3 class="sitebarHead" id="gsearch">搜索</h3>
  <div class="separator">
   
    <form method="get" action="http://www.google.cn/custom" target="google_window">
      <div>
        <input type="text" name="q" id="sbi" onfocus="this.select();" />
        <input type="hidden" name="client" value="pub-4674501411156281" />
        <input type="hidden" name="forid" value="1" />
        <input type="submit" name="sa" class="gsc-search-button" id="sbb"  value="搜索"/>
        <input type="hidden" name="ie" value="utf-8" />
        <input type="hidden" name="oe" value="utf-8" />
        <input type="hidden" name="safe" value="active" />
        <input type="hidden" name="cof" value="GALT:#008000;GL:1;DIV:#99C9FF;VLC:663399;AH:center;BGC:FFFFFF;LBGC:FFFFFF;ALC:000000;LC:000000;T:000000;GFNT:0000FF;GIMP:0000FF;LH:50;LW:119;L:http://www.taogogo.info/static/images/logo.gif;S:http://www.taogogo.info/;FORID:1"/>
        <input type="hidden" name="hl" value="zh-CN" />
      </div>
    </form>
  </div>
  <!-- searchform  end -->
    <!-- ads  begin -->
  <h3 class="sitebarHead">赞助支持</h3>
  <div class="separator"> 
   <div class="adsshow" id="sitebarGoogleAds">
	加工中~马上就好 <img src="/static/images/busy.gif" alt="加载中…">
   </div>
  </div>
  <!-- ads  end -->
  <!-- comments  begin -->
  <div class="sidebarCat">
    <h3 class="sitebarHead">最近评论</h3>
    <ul class="submenu" id="newcomment">
      {% for comment in recent_comments %}
      <li class="submenu" ><a href="/{{comment.entry.link}}#comment-{{comment.key.id}}">{{comment.author}}: {{comment.shortcontent|escape}}...</a></li>
      {%endfor%}
    </ul>
  </div>
  <!--comments end -->
  <!-- cat  begin -->
  <div class="sidebarCat">
    <h3 class="sitebarHead">文章分类</h3>
    <ul class="submenu">
      {%for cate in categories%}
      <li class="cat-item" ><a href="/category/{{cate.slug}}">{{cate.name}}({{cate.count}})</a></li>
      {%endfor%}
    </ul>
  </div>
  <!--cat end -->
  <!--bloud begin -->
  <div class="sidebarCat">
    <h3 class="sitebarHead">标签云</h3>
    <div class="separator" >
	{%mf tagcloud%}{%endmf%}
	  <div id="tagsdiv">
	{% for t in alltags %}
<a title="{{ t.tagcount }} pages" href="/tag/{{t.tag|urlencode}}"><span style='font-size:{{ t.tagcount|add:9 }}px;'>{{t.tag}}</span></a>
{%endfor%}
</div>
	</div>
    <!--bloud end -->
    <!-- Click Ranking  begin -->
    <div class="sidebarCat">
      <h3 class="sitebarHead">热门排行</h3>
      <ul class="submenu">
       {% for entry in blog.hotposts %}
        <li  class="cat-item"  ><a href="/{{entry.link}}">{{entry.title}} [{{entry.readtimes}}]</a> </li>
        {%endfor%}
      </ul>
    </div>
    <!--Click Ranking end -->
      <!--history begin-->
   <div class="sidebarCat">
	<h3>归档</h3>
		<ul>
		{%for archive in archives%}
		<li><a href="/{{archive.year}}/{{archive.month}}">{{archive.year}}年{{archive.month}}月({{archive.entrycount}})</a></li>
		{%endfor%}
		</ul>
</div>
   <!--history end-->
    <!--links begin -->
    <div class="sidebarCat">
      <h3 class="sitebarHead">友情链接</h3>
      <ul class="submenu links-list">
        {%for link in blogroll%}
        <li class="cat-item " ><a href="{{link.href}}" target="_blank">{{link.linktext}}</a></li>
        {%endfor%}
		 <li class="cat-item " ><a href="http://www.taogogo.info" target="_blank">TaoGOGO</a></li>
      </ul>
    </div>
    <!--links end -->
  </div>
</div>
