<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
	{%mf head%}
<title>{% block title %} {{ blog.title|escape}}{% endblock %}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="google-site-verification" content="cNnJojJTZ8JfvA-K2LCPumWBbppHBhPwFWuikjERTM4" />
		<meta name="google-site-verification" content="iNyyNLnwMLbgxYWC2pBBg0S8DrJhqyFq4irdXWU5-N0" />
		<!-- bing sitemap -->
		<meta name="msvalidate.01" content="56629E563AF8D3B11060288C7D95AB36" />
		<!-- yahoo sitemap -->
		<meta name="y_key" content="82242fe976a88277" />		  
		<!-- ie8 add++ -->
		<meta http-equiv="X-UA-Compatible" content="IE=8" />
		<!-- Favicon -->
		<link rel="shortcut icon" href="/static/images/favicon.ico" />
		<!-- default style -->
		<link rel="stylesheet" href="/themes/{{ blog.theme_name }}/style.css" type="text/css" />
		<script type="text/javascript" src="/themes/{{ blog.theme_name }}/lib/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="/themes/{{ blog.theme_name }}/lib/jquery.plugins.js"></script>
		<script type="text/javascript" src="/themes/{{ blog.theme_name }}/javascript.js"></script>
		<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
		<!--[if lt IE 7]>
<script type="text/javascript" src="/themes/{{ blog.theme_name }}/ie6.js"></script>
<link rel="stylesheet" href="/themes/{{ blog.theme_name }}/ie6.css" type="text/css" media="screen" />
<![endif]-->
	{% block head_block %}{% endblock %}
	{%endmf%}
</head>
<body class="bodyClasses" style="height:100%; width:100%; position:relative;">
<div id="top">
  <!--[if IE 6]>
<div id="anti_ie6">
<div class="in">
<span class="warning">Tips: </span><p>尊敬的用户，您正在使用<a href="http://interjc.net/a/anti-ie6">老掉牙的IE 6.0</a>，我们强烈推荐您升级为<a target="_blank"  href="http://docs.google.com/View?id=dg5phkpq_78cd6t5gf8">符合Web标准的浏览器</a>，更快，更好，更安全！<a href="http://www.microsoft.com/china/windows/internet-explorer/">IE8下载</a></p>
<a href="#" title="关闭后一周内不再显示" class="close">X</a>
</div>
</div>
  <![endif]-->
  <div class="clear"></div>
  <div class="in">
    <div id="top-page">
      <ul>
        <li class="page_item"><a href="/">Home</a></li>
        {{self.m_list_pages}}
      </ul>
    </div><!--/top-page-->
    <div id="top-sns">
    <ul>
    <li><a href="{{ blog.feedurl }}" class="feed" title="Feed">Feed</a></li>
    <li><a href="mailto:admin#Q86.net" class="email" title="Email">Email</a></li>
<!-- <li><a href="" class="facebook" title="Facebook" rel="external">Facebook</a></li> -->
    <!-- <?php if($blogOption['top_sns_twitter']!=''){ ?> -->
	<li><a href="https://twitter.com/gb_2312" class="twitter" title="Follow me via Twitter" rel="external">Twitter</a>
	</li><!-- <?php } ?> -->
    </ul>
    </div><!--/top-sns-->
  </div>
  <!--/.in-->
</div>
<!--/top-->
<div id="wrap">
  <div id="header" class="solo">
    <div class="title">
      <div class="logo"><a href="/">{{ blog.title|escape}}</a></div>
      <div class="text">
        <h1><a href="/">
          {{ blog.title|escape}}
          </a></h1>
        <p>
          {{ blog.subtitle|escape}}
        </p>
      </div>
      <!--.text-->
    </div>
    <!--.title-->
    <div class="advertisement" >
    </div>
  </div>
  <!--/header-->
  {% block content %}{% endblock %}
  </div>
<!--/wrap-->
<div id="footer" class="textshadow">
  <p><a style="padding:0;" href="/admin">&copy;</a><a target="_blank" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">Copyright</a><a href="/" title="{{ blog.title}}">{{ blog.title|escape}}
    </a>/<a title="ShadowBlue 主题开发页面" href="http://interjc.net/dev/shadowblue">ShadowBlue</a> . <a title="sweet icons" href="http://famfamfam.com">FAMFAMFAM</a> .&nbsp;由&nbsp;<a href = "http://www.q86.net/" title = "Angel">Angel</a>&nbsp;移植到&nbsp;<a href="http://micolog.appspot.com">Micolog {{blog.version}}</a> . <a class="back-to-top" href="#">Top ↑</a></p>
  {%mf footer%}{%endmf%}
</div>
<!--/footer-->
<div id="scroll"><a href="#" title="Go top." class="back-to-top">Top</a><a href="#footbar" title="Go bottom" class="back-to-bottom">Bottom</a></div>
</body>