{% extends "base.html" %}
{% block head_block %}
<meta name="google-site-verification" content="cNnJojJTZ8JfvA-K2LCPumWBbppHBhPwFWuikjERTM4" />
<meta name="Keywords" content="google app engine ,java ,sql ,c# ,jQuery ,软件开发,程序设计,前端设计." />
<meta name="Description" content="Hi ,I'm Angel ,this is my personal blog !主要分享软件开发,程序设计,前端设计." />
{% endblock %}
{% block content %}


<div id="container">
  <div class="in">
    <div class="inner solo">
	<div id="nav" class="solo" title="{{blog.blognotice|escape}}">

  <ul class="top-level">
{{blog.blognotice|escape}}
  </ul>
</div>

      <div class="line-x"></div>
      <!--/.line-x-->
      <div id="main">
	  {% if entries %}
	  
        <div class="main-in solo">
		<div id="content">
			{% for entry in entries %}
            <div class="story solo only-story" id="post">
              <div class="story-in solo">
                <div class="meta">
                  <div class="avatar">
				  <!-- <img width="40" height="40" class="avatar avatar-40 photo" src="http://en.gravatar.com/userimage/14701530/2daba1de65692bc03906dab1cc5cea68.jpg" alt=""/> -->
                  </div>
                  <p>
				  {{entry.author_name}}
				  </p>
				  <p>
				  {{ entry.date|datetz:"Y-m-d" }}

                  </p>
                  <p>
				  分类：
				{%for cate in entry.categories%}
				<a href="/category/{{cate.slug}}" title="{{cate.name}}">{{cate.name}}</a> | 
				{%endfor%}
                  </p>
                  <a href="#" class="switch-sidebar"></a>
				</div>
                <div class="entry">
                  <h2><a href="/{{ entry.link|escape }}" title="Permanent link to:{{ entry.title|escape }}">
                    {{ entry.title|escape }}
                    </a></h2>
                  <div class="entry-text solo">
                    {{entry|excerpt_more:"(..更多)"}}
                  </div>

                </div>
              </div>
              <p class="postmetadata">
                {% if entry.tags%}标签：
				{%for tag in entry.tags%}
				<a href="/tag/{{tag|urlencode}}" title="{{tag}}">{{tag}}</a>&nbsp;
				{%endfor%}
				{%endif%}
                {%if self.is_admin%}<a href="{{entry.edit_url}}">编辑</a> | {%endif%}
                <a href="/{{entry.link|escape}}#comments">{{entry.commentcount}} 条评论</a> | 
				<a href="/{{entry.link|escape}}">{{entry.readtimes}} 次阅读</a>
              </p>
            </div>

			{% endfor %}
            <div  id="pagenavi" class="navigation">
			<div class="wp-pagenavi">
			{% if show_prev %}<a href="/page/{{ pageindex|add:"-1" }}" >&laquo;上一页</a>{% endif %}
			{% if show_next %}<a href="/page/{{ pageindex|add:"1"}}" >下一页&raquo;</a>{% endif %}
            </div></div>
{% else %}
            <div class="story">
              <h2>对不起，您查看的内容不在这儿。</h2>
            </div>
			{% endif %}
          </div>
          <!--/content-->
          <div id="sidebar">
            {% include "sidebar.html" %}
          </div>
          <!--/sidebar-->
        </div>
        <!--/.main-in-->
      </div>
      <!--/main-->
	  <div class="line-x line-footbar"></div>
<!--/.line-x-->
<div class="footbar-wrap">

<div id="footbar" class="solo">
<div id = "sidebar-2" class = "sidebar footbar">
<ul class="top-level">
	<li class ="pagenav widget">
		<h2>页面</h2>
        <li class="pagenav widget"><a href="/">首页</a></li>
        {{self.m_list_pages}}
		</ul>
	</li>
</div>
<div id = "sidebar-3" class = "sidebar footbar">
<ul class="top-level">
		<li id = "tag_cloud" class="widget widget_archive">
			<h2>存档</h2>
			<ul>
				{%for archive in archives%}
				<li><a href="/{{archive.year}}/{{archive.month}}">{{archive.year}}年{{archive.month}}月</a>({{archive.entrycount}})</li>
				{%endfor%}
			</ul>
		<li>
</ul>
</div>
<div id = "sidebar-4" class = "sidebar footbar">

		<ul class="top-level">
		<li id="linkcat-2" class="linkcat widget">
			<h2>友情连接</h2>
			<ul>
            {%for link in blogroll%}
            <li id = "tag_cloud" class="linkcat widget">
				<a href="{{link.href}}" target="_blank" title ="{{link.linkcomment}}">{{link.linktext}}</a>
			</li>
            {%endfor%}
			</ul>
			</li>
		</ul>
</div>
</div>
<!--/footbar-->
</div>
    </div>
    <!--/.inner-->
  </div>
  <!--/.in-->
</div>
<!--/container-->
{% endblock %}